/*====================================
SIDEBAR DRAWER
=====================================*/

.sidebar{

    position:fixed;

    top:0;
    left:0;

    width:280px;
    height:100vh;

    background:#0f172a;

    color:white;

    z-index:2000;

    transform:translateX(-100%);

    transition:
    transform .35s ease;

    overflow-y:auto;

}


/* OPEN SIDEBAR */

.sidebar.active{

    transform:translateX(0);

}





/* OVERLAY */

.sidebar-overlay{

    position:fixed;

    inset:0;

    background:
    rgba(0,0,0,.45);

    opacity:0;

    visibility:hidden;

    transition:
    .35s ease;

    z-index:1500;

}



.sidebar-overlay.active{

    opacity:1;

    visibility:visible;

}




/* MOBILE */

@media(max-width:600px){

    .sidebar{

        width:85%;

        max-width:300px;

    }

}